# Ice Pi Zero/ULX3S FT231XQ adapter and Bonfire ECP5 JTAGG debug transport.

adapter driver ft232r
adapter speed 3000
transport select jtag

ft232r vid_pid 0x0403 0x6015
ft232r tck_num DSR
ft232r tms_num DCD
ft232r tdi_num RI
ft232r tdo_num CTS
ft232r trst_num RTS
ft232r srst_num DTR

# Restore normal UART operation when OpenOCD exits.
ft232r restore_serial 0x0015

# Accept the LFE5U-25F used by Ice Pi Zero and the LFE5U-85F used by ULX3S.
jtag newtap ecp5 tap -irlen 8 \
    -expected-id 0x41111043 \
    -expected-id 0x41113043

target create bonfire.cpu riscv -chain-position ecp5.tap
riscv set_ir dtmcs 0x38
riscv set_ir dmi 0x32

init
