# === Clock ===
# Beispiel ULX3S (ECP5 LFE5U-85F, CABGA381), 25 MHz an G2:
FREQUENCY PORT "sysclk" 25.0 MHz;
LOCATE COMP "sysclk" SITE "G2";
IOBUF  PORT "sysclk" PULLMODE=NONE IO_TYPE=LVCMOS33;

## USBSERIAL FTDI-FPGA serial port "usb" sheet
LOCATE COMP "uart0_tx" SITE "L4"; # FPGA transmits to ftdi
LOCATE COMP "uart0_rx" SITE "M1"; # FPGA receives from ftdi
#LOCATE COMP "ftdi_nrts" SITE "M3"; # FPGA receives
#LOCATE COMP "ftdi_ndtr" SITE "N1"; # FPGA receives
#LOCATE COMP "ftdi_txden" SITE "L3"; # FPGA receives
IOBUF  PORT "uart0_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "uart0_rx" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "ftdi_nrts" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "ftdi_ndtr" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "ftdi_txden" PULLMODE=UP IO_TYPE=LVCMOS33;


## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led[7]" SITE "H3";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[0]" SITE "B2";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;