*.pyc
*.vcd
*.ghw
*.lst
*.hex
*.bin
*.sym
*.elf

*.v 
/work-obj93.cf

vhdl_gen/*
vhdl_gen_tb/*
/vhdl/work-obj93.cf

/.vscode/settings.json
/luts.txt
/tb_simtest.py
build
/.vscode/.ropeproject/*
*.code-workspace
fusesoc.conf
