SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# https://www.latticesemi.com/en/Support/AnswerDatabase/1/9/6/1964
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Clock
LOCATE COMP "sysclk" SITE "M1";
IOBUF  PORT "sysclk" IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "sysclk" 100 MHZ;

# FTDI
LOCATE COMP "uart0_tx" SITE "K15"; # Transmit to ftdi
IOBUF  PORT "uart0_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "uart0_rx" SITE "K16"; # Transmit from ftdi
IOBUF  PORT "uart0_rx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "usb_rtsn" SITE "L16";
#IOBUF  PORT "usb_rtsn" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=DOWN;
#LOCATE COMP "usb_dtrn" SITE "L15";
#IOBUF  PORT "usb_dtrn" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=DOWN;


# LEDs
LOCATE COMP "led[0]" SITE "E13";
IOBUF  PORT "led[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "led[1]" SITE "D14";
IOBUF  PORT "led[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "led[2]" SITE "E12";
IOBUF  PORT "led[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "led[3]" SITE "C13";
IOBUF  PORT "led[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "led[4]" SITE "D13";
IOBUF  PORT "led[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;

# JTAG debug interface on Raspberry Pi GPIO header pins
LOCATE COMP "jtag_tck" SITE "P2"; # GPIO[22], header 15
IOBUF  PORT "jtag_tck" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "jtag_tms" SITE "M2"; # GPIO[23], header 16
IOBUF  PORT "jtag_tms" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "jtag_tdi" SITE "L1"; # GPIO[24], header 18
IOBUF  PORT "jtag_tdi" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "jtag_tdo" SITE "J2"; # GPIO[25], header 22
IOBUF  PORT "jtag_tdo" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "jtag_trstn" SITE "D4"; # GPIO[26], header 37
IOBUF  PORT "jtag_trstn" IO_TYPE=LVCMOS33 PULLMODE=UP;
